@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Caveat:wght@700&family=Poor+Story&family=Satisfy&family=Source+Serif+Pro:ital,wght@1,300&family=Tangerine&display=swap");

body {
	min-width: 1000px;
	font-family: "Source Serif Pro", serif;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 0px;
	margin: 0px;
}

.backgroundImage {
	height: 100vh;
	width: 100%;
	background-image: url(./background.jpg);
	background-size: 180%;
	background-repeat: no-repeat;
	background-position: 85% center;
	padding: 0px;
	margin: 0px;
	filter: blur(8px) brightness(60%);
}

.content {
	min-width: 1000px;
	border: 2px solid rgb(100, 81, 4);
	position: absolute;
	align-self: center;
	display: grid;
	background-color: rgba(236, 214, 103, 0.8);
	width: 80%;
	min-height: 70vh;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 40% 40% 20%;
	box-shadow: 10px 10px 5px rgba(37, 29, 2, 0.733);
}

.sidebar {
	display: flex;
	flex: 2;
	height: 100%;
	grid-row-start: 1;
	grid-row-end: 5;
	background-image: url(./background.jpg);
	background-position: center;
	background-size: 300%;
	background-repeat: no-repeat;
	align-items: center;
	justify-content: center;
}

.welcome {
	padding: 10px;
	padding-bottom: 20px;
	box-shadow: 0px 10px 2px rgb(177, 171, 0);
}

.form {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	background-color: rgba(255, 255, 205, 0.9);
	box-shadow: 0px 10px 5px rgba(183, 166, 78, 0.8);
}

form {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

ul {
	display: flex;
	position: relative;
	top: -40px;
	margin-top: 0px;
	padding-left: 100px;
	width: 100%;
	height: 40%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	list-style: none;
}

input {
	appearance: none;
	background-color: rgba(236, 214, 103, 0.8);
	border: 1px solid rgba(172, 151, 46, 0.8);
	border-radius: 20px;
	font-family: "Source Serif Pro", serif;
}

input:active {
	background-color: rgba(172, 151, 46, 0.8);
}

input:invalid {
	background-color: rgb(212, 167, 20);
	border-color: red;
}

label {
	font-size: 20px;
	display: block;
}

button {
	font-family: "Source Serif Pro", serif;
	font-size: 24px;
	position: relative;
	top: 25px;
	padding: 5px 20px;
	background: radial-gradient(
		circle,
		rgba(225, 232, 148, 1) 0%,
		rgba(200, 168, 13, 1) 55%,
		rgba(139, 139, 24, 1) 100%
	);

	border-radius: 20px;
	border: 2px solid rgb(239, 212, 158);
	box-shadow: 5px 5px 5px rgba(139, 139, 24, 1);
}

#logo {
	font-size: 3rem;
	font-weight: 900;
	padding-top: 80px;
	color: rgb(179, 179, 57);
}

h2 {
	padding: 0px;
	margin: 0px;
	font-weight: 1000;
}

p {
	font-size: 20px;
	padding: 0px;
	margin: 0px;
}

.logIn {
	padding-left: 10%;
	padding-top: 3%;
}

span {
	margin: 0px;
	padding-left: 23%;
	position: absolute;
	top: 110%;
	display: none;
}

span > p {
	font-size: 12px;
}

input[type="password"]:invalid + #tooltip {
	display: block;
}

input[type="password"]:valid + #tooltip {
	display: none;
}

#tooltip {
	padding: 0px;
	margin-left: 160px;
	display: flex;
	flex-direction: column;
	flex: 2;
}

#checkmark {
	display: flex;
	padding: 0px;
	margin-left: 160px;
	margin-top: 13px;
}

input[type="password"]:valid + #tooltip {
	display: none;
}
