* {
	box-sizing: border-box;
}

body {
	background-color: #fff;
	color: #333;
	font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
	padding: 1em;
	margin: 0;
	width: 500px;
}

form {
	position: relative;
	width: 100%;
	height: fit-content;
	margin: 0 auto;
	padding: 1rem;
	box-sizing: border-box;
	background-color: rgb(227, 227, 227);
	display: grid;
	grid-template-columns: 1fr;
}

legend {
	grid-column-start: 1;
	grid-column-end: 3;
	font-weight: 900;
}

ul {
	display: grid;
	grid-gap: 10px;
}

li {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 2fr;
}

button {
	position: relative;
	left: 250px;
	top: 10px;
	background-color: rgb(67, 126, 255);
	border: 0px;
	box-shadow: rgb(27, 91, 132) 2px 2px;
}
